.header .logo {
  float: left;
}
.header .menu {
  float: right;
}
.header .logo img {
  height: 150px;
  margin: 10px 45px;
}
.header {
  margin: 0 100px;
  font-family: monospace;
  height: 200px;
  font-size: large;
}
.container .left {
  clear: both;
  float: left;
  width: 50%;
}

.header .menu ul {
  display: flex;
}
.header .menu ul li {
  padding: 30px;
  list-style: none;
}
.header .menu ul li a {
  text-decoration: none;
  color: rgb(53, 51, 51);
}
.header .menu {
  margin: 10px;
}
.container {
  margin: 0 100px;
  height: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}
.container .banner {
  width: 50%;
}
.container .banner img {
  float: right;
  width: 100%;
}
.container a {
  background-color: orangered;
  display: block;
  width: fit-content;
  height: fit-content;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border-radius: 20px;
  font-weight: bold;
  font-family: inherit;
  color: rgb(243, 211, 211);
}
.container a:hover {
  background-color: rgb(80, 75, 75);
}
.header-container {
  background: radial-gradient(#fff, #ffd6d6);
}
.cate-gory img {
  width: 50%;
}
.cate-gory {
  padding-top: 30px;
  margin-bottom: 60px;
}
.cate-gory a {
  text-align: center;
}
.cate-gory img {
  width: 90%;
}
.content .featured {
  font-size: xx-large;
  text-align: center;
  font-family: fantasy;
}
.featuredproduct .product a img:hover {
  transform: translateY(-5px);
}
.featuredproduct {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.featuredproduct .product {
  width: 20%;
  padding: 20px;
}
.footer {
  display: flex;
  align-items: center;
  margin-top: 100px;
  height: 500px;
  margin-left: 50px;
  margin-right: 50px;
}
.footer .banner {
  width: 50%;
}
.footer .banner img {
  width: 70%;
  padding-left: 150px;
}
.footer .exclusive {
  width: 50%;
}
.footer-parent {
  background: radial-gradient(#fff, #ffd6d6);
}
.footer a {
  background-color: orangered;
  display: block;
  width: fit-content;
  height: fit-content;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border-radius: 20px;
  font-weight: bold;
  font-family: inherit;
  color: rgb(243, 211, 211);
}
.footer a:hover {
  background-color: rgb(80, 75, 75);
}

.comment .rowcomment {
  display: flex;
  flex-wrap: nowrap;
  width: 70%;
  margin: auto;
  justify-content: space-around;
}
.comment .rowcomment .comment-1,
.comment-2,
.comment-3 {
  width: 25%;
  height: fit-content;
  border: 5px groove;

  text-align: center;
}
.comment .rowcomment img {
  border-radius: 130px;
  margin-top: 20px;
  width: 70px;
}
.comment .rowcomment .fa-quote-left {
  font-size: xx-large;
}
.comment .rowcomment h3 {
  font-size: initial;
  font-family: system-ui;
}
.brand {
  margin-top: 100px;
  border-top: 1px solid;
  margin-bottom: 50px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.brand img {
  width: fit-content;
}

.content .details {
  display: flex;
  justify-content: center;
}
.content .details .left .under img {
  width: 100%;
}
.content .details .left .under div {
  margin: 5px;
  border: 2px groove;
}
table {
  margin: auto;
  border-collapse: collapse;
  width: 70%;
}
table,
th,
td {
  padding: 25px;
  text-align: start;
}
.number {
  width: 30px;
}
thead {
  background-color: #ffa5009c;
}
tbody {
  border-bottom: 1px solid;
}
tfoot th {
  text-align: start;
}
.totalprice {
  text-align: center;
}
.purchase {
  background-color: #cf120dc9;
  font-weight: 700;
  color: white;
  padding: 10px;
}
.fa-shopping-bag {
  color: coral;
  font-size: 20px;
}
.information {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border: 1px solid;
  width: 70%;
  margin: auto;
  background-color: beige;
  border-radius: 20px;
  padding: 25px;
}
.information input,
select {
  padding: 10px 20px;
  font-size: 15px;
  border-radius: 30px;
  margin-top: 10px;
  border: 1px solid;
}
.information .field {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.information label {
  margin-right: 20px;
}
.icon-address:hover {
  animation: icon-address-spin infinite 2s linear;
}

@keyframes icon-address-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#box-contact {
  display: block;
  margin: 20px auto;
  box-shadow: 0px 2px 16px rgb(0 0 0 / 10%);
  padding: 25px;
}
